<section>
  <h3>Reusable Button Component</h3>
  <div class="row">
    <app-void-button
      [btnColor]="'bg-outline'"
      [btnSize]="'large'"
      aria-label="Botão teste"
      (clicked)="onCancel()">
    </app-void-button>

    <app-void-button
      [btnText]="'Salvar'"
      [btnColor]="'bg-blue'"
      [btnSize]="'large'"
      [btnIcon]="'save'"
      aria-label="Botão Salvar com ícone"
      (clicked)="onSave()">
    </app-void-button>

    <app-void-button
      [btnText]="'Editar'"
      [btnColor]="'bg-outline'"
      [btnSize]="'large'"
      [btnOutline]="true"
      aria-label="Botão editar"
      (clicked)="onSave()">
    </app-void-button>

    <app-void-button
      [btnText]="'Excluir'"
      [btnColor]="'bg-red'"
      [btnSize]="'large'"
      [btnIcon]="'delete'"
      aria-label="Botão excluir"
      (clicked)="onCancel()">
    </app-void-button>

    <app-void-button
      [btnText]="'Cancelar'"
      [btnColor]="'bg-gray'"
      [btnSize]="'large'"
      [btnIcon]="'cancel'"
      [btnType]="'reset'"
      aria-label="Botão cancelar"
      (clicked)="onCancel()">
    </app-void-button>

    <app-void-button
      [btnText]="'Desabilitado'"
      [btnColor]="'bg-outline'"
      [btnSize]="'large'"
      [btnType]="'reset'"
      [btnDisabled]="true"
      aria-label="Botão desabilitado"
      (clicked)="onCancel()">
    </app-void-button>
  </div>
</section>
